{% extends "base.html" %}

{% block page_content %}

<div class="container">
    {% for message in get_flashed_messages() %}
        <div class="alert alert-success" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <p>{{ message }}</p>
        </div>
    {% endfor %}
    <div class="jumbotron text-center">
        <h1>Bucket List</h1>
        <p class="lead">What would you like to do in the next few years? Climb a mountain? Learn to ride a bike? :) It’s important to  keep track of what you have already done and what you are yet to achieve. Register and start tracking.</p>
        <p>
            <a class="btn btn-lg btn-default" href="/login" role="button">Sign in today</a>
            <a class="btn btn-lg btn-success" href="/register" role="button">Sign up today</a>
        </p>
    </div>
</div>

{% endblock %}